@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Satisfy&display=swap');

body{
  margin: 0px;
  font-family: garamond;
  background-color: #cfdac8;
  color: #008891;
}

h1, h2, h3{
  font-family: satisfy;
  color: #df7861;
}

section, div, img{
  border: 0px solid;
  min-height: 100px;
  min-width: 100px;
}

section{
  padding: 50px 100px;
}

img{
  object-fit: cover;
}

.bg-white{
  background-color: white;
}

/*SECTION HERO*/

#hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero img{
  height: 250px;
}
.btn{
  border-radius: 4px;
  display: inline-block;
  padding: 8px 12px;
  border: 0px solid;
  font-family: satisfy;
  background-color: #df7861;
  cursor: pointer;
}

.btn:hover{
  background-color: #008891;
  color: #df7861;
}

.italic-grey{
  font-style: italic;
  color: #008891;
  margin-top: -10px;
}

.italic{
  font-style: italic;
}

/*SECTION STARS*/
.card{
  width: 30%;
  height: 200px;
  background-color: grey;
  color: #ff4646;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px black;
  border-radius: 100px;
  
}

.card h3{
  
}

.card-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bg-van-1{
  background-image: url('https://i.pinimg.com/736x/18/a5/59/18a5595f26a1486bce8206cd6a65588f.jpg');
background-size: cover;
background-position: up;
font-size: 40px;
}

.bg-van-2{
  background-image: url('https://d17a17kld06uk8.cloudfront.net/products/2S8CHZ7/WTMJ2TCK-large.jpg');
background-size: cover;
background-position: up;
font-size: 40px;
}

.bg-van-3{
  background-image: url('https://d17a17kld06uk8.cloudfront.net/products/P9SPSDH/IBURQ893-large.jpg');
background-size: cover;
background-position: up;
font-size: 40px;
}

/*SECTION PRODUCT*/

.card-product{
  width: 30%;
  margin-bottom: 30px;
  text-align: center;
}

.card-product img{
  width: 100%;
  border-radius: 20px;
}

/* SECTION FEATURE*/
.card-line{
  display: flex;
  Justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  box-shadow: 1px 1px 1px #cfdac8;
}

.text-container{
  flex-grow: 1;
  padding: 24px;
}

.card-line img{
  height: 200px;
}